@model AD_Team10.Models.Department

@{
    ViewBag.Title = "GenerateDisbursement";
}

<div id="navigation">
    @Html.Partial("~/Views/Store/Clerk/_ClerkNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3 align="center">Generate Disbursement List</h3><hr />

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentName, "DepartmentID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartmentID", ViewBag.DepartmentID as SelectList, "", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="GENERATE" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @if (Model != null)
    {
        if (Model.DepartmentID != 0)
        {
            @Html.Partial("~/Views/Store/Clerk/DisbursementListPartial.cshtml")
        }
    }
</div>

