
@{
    ViewBag.Title = "ChangeLocation";
}


<h2>
    You have changed the collection point of @ViewBag.DepartmentName representative to
    @ViewBag.NewCollectionPoint. The new collection point will be active from  @ViewBag.CurrentDate onwards
</h2>