@*Author: Stephanie Cheng Sin Yin*@

@using AD_Team10.Models
@model DeptEmployee

@{
    var rep = ViewBag.representative;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>ASSIGN REPRESENTATIVE</h3>

    <br /><br />
    <p class="center">Current Representative: <b>@rep</b></p>

    @using (Html.BeginForm("SuccessfulAssignRep", "Head", FormMethod.Post, new { @class = "center" }))
    {
        <p></p>
        <label>New Representative:</label>
        @Html.DropDownListFor(m => m.DeptEmployeeID, (IEnumerable<SelectListItem>)ViewBag.depEmployees, "Select Employee", new { @class = "select" })
        <p><input type="submit" name="submit" value="Submit and Update" class="submit center" /></p>
    }
</div>
