@*Author: Stephanie Cheng Sin Yin*@

@{
    var actingHead = ViewBag.actingHead;
    var start = ViewBag.startDate;
    var end = ViewBag.endDate;
    var actingHeadID = ViewBag.actingHeadID;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>CANCEL ACTING HEAD</h3>
    <br /><br />

    @if (actingHeadID != 0)
    {
        <p class="center">Current Acting Head: <b>@actingHead (@start - @end)</b></p>


        using (Html.BeginForm("SuccessfulCancelActingHead", "Head", FormMethod.Post, new { @class = "center" }))
        {
            <input type="submit" name="cancel" value="Confirm Cancel" class="submit center" />
        }
    }
    else
    {
        <p class="center">@actingHead</p>
    }
</div>
