@*Author: Ettiya Premalatha*@

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>CHANGE COLLECTION POINT </h3>
    <div class="padding50">
        <h5>
            You have changed the collection point of @ViewBag.DepartmentName to
            @ViewBag.NewCollectionPoint. The new collection point will be active from  @ViewBag.CurrentDate onwards
        </h5>
    </div>


</div>