@*Author: Stephanie Cheng Sin Yin*@
@{
    var actingHead = ViewBag.actingHead;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>CANCEL ACTING HEAD</h3>

    <p class="center">You have successfully cancelled the assignment of <b>@actingHead</b> as acting head.</p>

</div>
