@*Author: Stephanie Cheng Sin Yin*@

@{
    var actingHead = ViewBag.actingHead;
    var start = ViewBag.startDate;
    var end = ViewBag.endDate;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>ASSIGN ACTING HEAD</h3>

    <p class="center">You have successfully assigned <b>@actingHead</b> as the acting head from @start to @end.</p>
</div>