@*Author: Stephanie Cheng Sin Yin*@

@{
    var rep = ViewBag.newRep;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>ASSIGN REPRESENTATIVE</h3>

    <p class="center">You have successfully assigned <b>@rep</b> as the new representative.</p>
</div>
